<!DOCTYPE html>
<html>
<head>
    <title>Page Not Found</title>
</head>
<style>
    .box .title {
       font-size: 80px;
    }

    .box h3{
        font-size: 30px;
    }   
    
</style>
<body>
    <div class="justify-content-center">
		<div class="pd-10">
			<div class="text-center box">
				<h1 class="title">500</h1>
				<h3>Unexpected Error</h3>
				<p>An error ocurred and your request couldn’t be completed..<br>Retry later</p>
				<!-- <div class="pt-20 mx-auto max-width-200">
					<a href="/dashboard" class="btn btn-primary btn-block btn-lg">Back To Home</a>
				</div> -->
			</div>
		</div>
	</div>
</body>
</html>